.app-dark-theme {
  --primary-color: #212d31;
  --inverted-color: #f0f1fb;
  --accent-color: #0062ff;
  --yellow-color: #ffb800;
  --green-color: #14e4b1;
  --red-color: #dc3545;
}

.app-light-theme {
  --primary-color: #f0f1fb;
  --inverted-color: #212d31;
  --accent-color: #0062ff;
  --yellow-color: #ffb800;
  --green-color: #14e4b1;
  --red-color: #dc3545;
}
